[submodule "teletext-elite"]
	path = teletext-elite
	url = https://github.com/markmoxon/teletext-elite.git
[submodule "dfsimage"]
	path = dfsimage
	url = https://github.com/markmoxon/dfsimage.git
[submodule "elite-source-code-bbc-micro-disc"]
	path = elite-source-code-bbc-micro-disc
	url = https://github.com/markmoxon/elite-source-code-bbc-micro-disc.git
[submodule "elite-source-code-6502-second-processor"]
	path = elite-source-code-6502-second-processor
	url = https://github.com/markmoxon/elite-source-code-6502-second-processor.git
[submodule "elite-source-code-bbc-master"]
	path = elite-source-code-bbc-master
	url = https://github.com/markmoxon/elite-source-code-bbc-master.git
[submodule "elite-universe-editor-library"]
	path = elite-universe-editor-library
	url = https://github.com/markmoxon/elite-universe-editor-library.git
[submodule "elite-universe-editor-bbc-master"]
	path = elite-universe-editor-bbc-master
	url = https://github.com/markmoxon/elite-universe-editor-bbc-master.git
