[submodule "master-elite-beebasm"]
	path = master-elite-beebasm
	url = https://github.com/markmoxon/master-elite-beebasm.git
[submodule "disc-elite-beebasm"]
	path = disc-elite-beebasm
	url = https://github.com/markmoxon/disc-elite-beebasm.git
[submodule "6502sp-elite-beebasm"]
	path = 6502sp-elite-beebasm
	url = https://github.com/markmoxon/6502sp-elite-beebasm.git
[submodule "teletext-elite"]
	path = teletext-elite
	url = https://github.com/markmoxon/teletext-elite.git
[submodule "elite-music"]
	path = elite-music
	url = https://github.com/markmoxon/elite-music.git
[submodule "dfsimage"]
	path = dfsimage
	url = https://github.com/markmoxon/dfsimage.git
[submodule "master-elite-universe-editor"]
	path = master-elite-universe-editor
	url = https://github.com/markmoxon/master-elite-universe-editor.git
