[submodule "master-elite-beebasm"]
	path = master-elite-beebasm
	url = https://github.com/markmoxon/master-elite-beebasm.git
[submodule "disc-elite-beebasm"]
	path = disc-elite-beebasm
	url = https://github.com/markmoxon/disc-elite-beebasm.git
[submodule "6502sp-elite-beebasm"]
	path = 6502sp-elite-beebasm
	url = https://github.com/markmoxon/6502sp-elite-beebasm.git
[submodule "teletext-elite"]
	path = teletext-elite
	url = https://github.com/markmoxon/teletext-elite.git
[submodule "elite-universe-editor"]
	path = elite-universe-editor
	url = https://github.com/markmoxon/elite-universe-editor.git
[submodule "dfsimage"]
	path = dfsimage
	url = https://github.com/monkeyman79/dfsimage.git
[submodule "cassette-elite-beebasm"]
	path = cassette-elite-beebasm
	url = https://github.com/markmoxon/cassette-elite-beebasm.git
[submodule "electron-elite-beebasm"]
	path = electron-elite-beebasm
	url = https://github.com/markmoxon/electron-elite-beebasm.git
